.sidebar {
  max-width: 350px;
  width: 100%;
  background-color: #fff;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #dcdbdb;
  overflow-y: hidden;
  &__header {
    padding: 15px 35px 25px;
    border-bottom: 1px solid #dcdbdb;
    display: flex;
    align-items: center;
    min-height: 73px;
  }
  &__search {
    width: 100%;
    &--autocomplete {
      .ant-select-item {
        padding: 0!important;
      }
      .searched-user {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 5px 12px;
        .ant-avatar-string {
          font-size: 13px !important;
        }
      }
    }
  }
  &__dialogs {
    overflow-y: scroll;
    height: calc(100% - 73px);
  }
  &__dialog {
    a {
      padding: 15px 22px;
      transition: .3s;
      &:hover {
        transition: .3s;
        background-color: rgba(24, 144, 255, 0.1);
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-title {
      margin-bottom: 2px;
    }
    &-message {
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #7e7e7e;
    }
    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &-datetime {
      color: #7e7e7e;
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}