.message {
  @self: message;
  @audio: audio-message;
  @file: file-message;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-self: flex-start;
  &:last-child {
    margin-bottom: 0;
  }
  &__top {
    display: flex;
    flex-direction: row;
  }

  .@{audio}__shape {
    svg {
      fill: #fff;
    }
  }
  .@{audio}__duration {
    color: #fff;
    opacity: 0.5;
  }
  .@{file}__download {
    border-bottom-right-radius: 12px;
    background-color: @main-blue;
    color: #fff;
    &:hover {
      background-color: @main-blue;
      color: #fff;
      opacity: 0.8;
      transition: .3s;
    }
  }
  .@{audio}__cover {
    background-color: @secondary-blue;
  }
  &__content {
    border: none;
    padding: 15px 18px;
    background-color: @main-blue;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0;
    color: #fff;
    word-break: break-word;
    max-width: 300px;
    &::selection {
      background-color: #fff;
    }
  }
  &__user-avatar {
    margin-right: 10px;
    align-self: flex-end;
  }
  &__datetime {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    time {
      font-size: 12px;
      color: #b0b0b0;
      font-weight: bold;
      align-self: flex-end;
    }
  }
  &.isMine {
    align-self: flex-end;

    .@{self}__top {
      align-items: flex-end;
      flex-direction: row-reverse;
    }
    .@{file} {
      margin: 0 10px;
    }
    .@{file}__download {
      border-radius: 0 0 0 12px;
      background-color: #fff;
      color: #000;
      border: 1px solid #d0d0d0;
      border-top: none;
      &:hover {
        background-color: rgba(189, 189, 189, 0.53);
        color: #000;
        transition: .3s;
      }
    }
    .@{self}__datetime {
      margin-left: 30px;
      time {
        align-self: flex-start;
      }
    }

    .@{self}__content {
      border: 1px solid #ECECEC;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0 12px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #fff;
      color: #000;
    }
    .@{audio}__shape {
      svg {
        fill: #7e7e7e;
      }
    }
    .@{audio}__duration {
      color: #7e7e7e;
      opacity: 1;
    }
    .@{audio}__cover {
      background-color: rgb(224, 224, 224);
    }
  }

}

@import "audio";
@import "file";